<script>
	import { onMount } from 'svelte';

	export let path = '';
	export let placeholder = '';
  export let limit = 10;

  let q = ''; // will contain the text written by user
  let timeout_id = 0; // used to detect when the user stopped typing
  let show_result = false; // show the result dropdown, or not
  let results = []; // results to display, as JSON : [ {"url":"", "title":""},..]
  let raw = []; // will contain the full JSON file created by HUGO

	onMount(async () => {
		const res = await fetch(path);
		raw = await res.json();
	});

  // do the search in the 'raw'
  $: {
    results = []; // clear previous result
    let words = q.split(' '); // split typed text with spaces
    let words2 = []; // words that will be searched
    words.forEach(function(element) { // to skip empty words, if multiple spaces typed (i.e "a  b c")
      if(element) {words2.push(element);}
    });
    let r;
    let resultmp;
    words2.forEach(function(e) { // for each word
      r = raw.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
      if(results.length === 0) { results = r.slice(); return; }
      resultmp = [];
      results.forEach(function(all1) {
        r.forEach(function(all2) { // we want AND for words
          if(all1.permalink === all2.permalink) { resultmp.push(all1); }
        });
      });
      results = resultmp.slice();
    });
    results = results.slice(0, limit); // 10 results max
    show_result = (results.length > 0); // show results if we have one or more
  }
</script>

<div class="search">
  <input class="search__input" type="search" {placeholder} maxlength="50" bind:value={q}>
  <ul class="search__results box" class:search__results_hidden={!show_result}>
  	{#each results as result (result.permalink)}
	  	<li class="results__result"><a href="{result.permalink}">{result.title}</a></li>
  	{/each}
  </ul>
</div>